html {
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}
header, .hero, footer {
    background-color: var(--primary-color);
}
/*.wrapper {
    margin: 2em;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li, p, a:not(nav a) {
    font-size: 1.6rem;
}

nav a { 
    font-size: 1.8rem;
}
a {
    color: var(--link-color);
    text-decoration: none;
    //font-family: 'Nunito', sans-serif;
}
p {
    font-size: 1.6em;
}

svg {
    width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}


